# Dados e modelos (muito grandes para o git)
backend/data_cache/
backend/models/*.pkl
backend/chroma_db/
docs/superpowers
# Env
.env

# Docker
.dockerignore
.claude
.superpowers
# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
